[Unit]
Description=Golang mandelbrot app

[Service]
ExecStart=/bin/bash -c 'sudo /home/ubuntu/gocode/bin/aws-mandelbrot'

[Install]
WantedBy=multi-user.target
